# .gitignore 0.0.1                  UTF-8                       dh:2021-10-18
#---|----1----|----2----|----3----|----4----|----5----|----6----|----7----|--*
#
#                  Orcmid's Windows Companion to FC_CPP
#                  ====================================
#
#          .GITIGNORE FOR KEEPING EXECUTABLES OUT OF THE REPOSITORY
#
#   This .gitignore file is intended to exclude intermediate compilation
#   materials from the git repository.

#   XCopy package executables
*.exe
resources/

#---|----1----|----2----|----3----|----4----|----5----|----6----|----7----|--*

# 0.0.1 2021-10-18T21:52Z Adjust for FC_CPP/S2-Axe/app/ companion folder
# 0.0.0 2021-09-27T23:46Z Block expected final forms - placeholder

#                       *** end of app/.gitignore ***
